{% block content%}
                <div class="row" id="newPost">
                  <div class="title">
                    <h4><a href="">Create New Recipe</a></h4> 
                  </div>


                </div>
                <div class="row" id="allPost">
                  <div class="title"> 
                    <h4>All Post</h4>

                  </div>
                  <!-- All Users Post [For Loop Starts] -->
                  <div>
                    <h6><a href="">Recipe Title</a></h6> <!-- Take To Recipe Page -->
                  </div>
                  <div class="row">
                    <div id="picture">

                    </div>
                    <div id="recipe">

                    </div>
                  </div>
                  <div id="commentLike">
                    <a href="">Like</a>
                    <!-- Display Form for Users To Type Comments-->
                    <a href="">Comment</a> 


                  </div>

                  <!-- End For Loop -->

                </div>
{% end block%}