<!--Get called by views.index -->
<!-- **** Need to fix/clarify ****-->

{% extends 'dish/base.html' %}
{% block content %} 
                <div class="row" id="newPost">
                  <div class="title">
                    <h4><a href="/dish/new" class="btn btn-outline-primary">Create New Recipe</a></h4> 
                  </div>


                </div>
                <div class="row" id="allPost">
                  <div class="title"> 
                    <h4>All Post</h4>

                  </div>
                  <!-- All Users Post [For Loop Starts] -->
                  {% for dish in dishes %}
                  <div>
                    <!-- ****need to add link to User Profile -->
                    <h6><a href="/dish/{{ dish.id }}">{{ dish.title }}</a> By: <a href="">{{ dish.poster.first_name }} {{ dish.poster.last_name }}</a></h6> <!-- Take To Recipe Page -->
                  </div>
                  <div class="row">
                    <div class= "col" id="picture">
                      <div>
                        <img src="{{ dish.profile_pic }}" alt="Dish Picture Here">
                      </div>
                      <div>
                        <h5>Overall Rating: <!-- ****{{ dish.ratings.avg }} --></h5>
                      </div>
                      <div>
                        <h5>Total Number of Ratings:{{ dish.ratings.count }}</h5>
                      </div>
                    </div>
                    <div class="col" id="description">
                      <p>{{ dish.description }}</p>
                    </div>
                  </div>
                  <div id="rate">
                    <a href="">Rate: </a> <!-- ****Change to Django Form Radio 1-5 -->
                    <!-- Display Form for Users To Type Comments-->
                    <a href="">Review</a> <!--****Django Form To input Review-->
                  </div>

                  <!-- End For Loop -->
                  {% endfor %}

                </div>
{% endblock%}