<!-- gets called by views.dish_details-->
{% extends 'dish/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'dish/css/dish.css' %}">
{% endblock css %}

{% block greeting %}{% if user.is_authenticated %} {{ user.first_name }}{% else %}{% endif %}{% endblock greeting %}

{% block favorites %}
{% if user.is_authenticated %}
  <a href="{% url 'dish:favorite_dishes' %}" class="nav-link"><i class="fas fa-bookmark"></i>Favorites</a>
  {% else %}
  {% endif %}
{% endblock favorites %}

{% block profile %}
{% if user.is_authenticated %}
<a href="{% url 'accounts:user_profile' profiled_user_id=user.id %}" class="nav-link"><i class="fas fa-user-cog"></i>Profile</a>
{% else %}
<a href="{% url 'accounts:signup' %}" class="nav-link"><i class="fas fa-user-cog"></i>Register</a>
{% endif %}
{% endblock profile %}

{% block login %}
{% if user.is_authenticated %}
  <a href="{% url 'logout' %}" class="nav-link"><i class="fas fa-sign-out-alt"></i>Logout</a>
  {% else %}
  <a href="{% url 'login' %}" class="nav-link"><i class="fas fa-sign-in-alt"></i>Login</a>
  {% endif %}
{% endblock login %}

{% block content %}
<div id="main-content" data-id="{{ dish.id }}">
        <div class="row" id="newPost">
            <div class="title">
                <div class="d-inline-flex align-items-baseline">
                    <h2>{{ dish.title }}</h2>
                    {% if dish.poster.id == user.id %}
                    <p class="edit-category ml-2" title="Edit" style="color:#009EC3">
                        <a href="{% url 'dish:update_dish' dish_id=dish.id %}">
                            <small><i class="fas fa-pen"></i> Edit</small>
                        </a>
                    </p>
                    {% endif %}
                </div>

                <!--Inser User Profile link-->
                <h2>Chef: <a href="{% url 'accounts:user_profile' profiled_user_id=dish.poster.id %}">{{ dish.poster.first_name }} {{ dish.poster.last_name }}</a></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div id="picture">
                    <img src="{{ dish.profile_pic.url }}" alt="Dish Picture Here">
                </div>
                <div id="category">
                    <!--Insert link tag to be able to take to similar category pages-->
                    <h4>Categories</h4>
                    <ul class="categories">
                    {% for category in dish.categories.all %}
                        <li class="category" data-id="{{ category.id }}"> <a href="/category/{{ category.id }}">{{ category.name }}</a></li>
                    {% endfor %}
                    </ul> 
                </div>
            </div>


            <div class="col-7">
                <div id="recipe">
                    <div id="description">
                        <p><h4><span>Description: </span></h4> {{ dish.description }}</p>
                    </div>
                    <div id="ingredients">
                        <p><h4><span>Ingredients: </span></h4>{{ dish.ingredients }}</p>
                    </div>
                    <div id="recipeWriting">
                        <p><h4><span>Recipe Instructions: </span></h4>{{ dish.recipe }}</p>
                    </div>
                </div>
                <div id="ratings">
                    <div class="btn btn-info"><!--Javascript here to display the newRating Div-->
                        Rate
                    </div>
                    <div id="newRating" style="display: none;">
                            {% include 'dish/ratingForm.html' %}<!-- ***Django Form Radio edition -->
                    </div>
                    <div id="newComment">
                        <!-- ****add comment here hidden -->
                    </div>
                </div>
            </div>


            <div class="col-2">
                <div id="times">
                    <div id="cookTime">
                        <h6><span>Cook Time:</span> {{ dish.cook_time }} Min</h6>
                    </div>
                    <div id="prepTime">
                        <h6><span>Prep Time:</span> {{ dish.prep_time }} Min</h6>
                    </div>
                    <div id="totalTime">
                        <h6><span>Total Time:</span> {{ total_time }} Min</h6>
                    </div>
                    <div id="serving">
                        <h6><span>Serving:</span> {{ dish.servings }}</h6>
                    </div>
                </div>
                <br><br><br>
                <div id="ratings">
                    <div id="avgRating">
                        <h6><span>Dish Avg Rating:</span> {{ average_rating }}</h6>
                    </div>

                    <h6><span>Ratings</span></h6>
                    <div id="reviews">
                        {% for rating in all_ratings %}
                        <div id="userReviews">
                            <div id="userName">
                                <!--****User Link-->
                                <h6><a href="{% url 'accounts:user_profile' profiled_user_id=rating.user.id %}">{{ rating.user.first_name }} {{ rating.user.last_name }}</a></h6>
                            </div>
                            <div id="review">
                                <p>{{ rating.review }} - {{ rating.created_at }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <h6><span>Comments</span></h6>
                <div id="usersComments">
                    <!--****Check for Comments-->
                    {% for comment in dish.dish_comments.all %}
                    <h6><a href="{% url 'accounts:user_profile' profiled_user_id=comment.poster.id %}">{{ comment.poster.first_name }} {{ comment.poster.last_name }}</a></h6>
                    <p>{{ comment.comment }} - {{ comment.created_at }}</p>
                    {% endfor %}
                </div>

            </div>
        </div>
</div>        

{% endblock %}
