<div class="d-inline-flex justify-content-start align-items-center">
    <h4 class="my-0">Dish Average Rating: <span class="rating-number" data-rating="{{average_rating}}" data-rating-size="medium"></span></h4>
    <div class="btn btn-info ml-3 newDish"><small><i class="fas fa-plus-circle"></i> New Rating</small></div>
</div>

<div id="newRating" style="display: none;">
    {% include 'dish/ratingForm.html' %}
</div><!-- end #newRating -->

<div class="ratings">
    {% for rating in all_ratings %}
    <div class="rating">
        {% include 'dish/stars.html' with size="small" %}
        <h6>
            <a href="{% url 'accounts:user_profile' profiled_user_id=rating.user.id %}">
                {{ rating.user.first_name }} {{ rating.user.last_name }}
            </a>
        </h6>
        <p>{{ rating.review }}</p>
        <p>{{ rating.created_at }}</p>
    </div><!-- end .rating -->
    {% endfor %}
</div><!-- end .ratings -->