<!-- PARAMS:
    rating: (number)
    size: OPTIONAL. Determines size od stars.
        'none' (sized based on surrounding text)
        'large' (14pt)
        'medium' (10pt)
        'small' (8pt)
    
-->

<span class="stars stars-{{ size|default:'large'}}" title="{{ rating }} stars">
    {% if rating.rating == 1 %}
    <i class="fas fa-star"></i>
    {% elif rating.rating == 2 %}
    <i class="fas fa-star"></i><i class="fas fa-star"></i>
    {% elif rating.rating == 3 %}
    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
    {% elif rating.rating == 4 %}
    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
    {% elif rating.rating == 5 %}
    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
    {% endif %}
    {{rating.rating}}
</span>
