#header h4{
    display: inline-block;
    margin-left: 35%;
}

.post {
    border: 1px gray solid;
    border-radius: 10px;
    margin: 10px 0px;
    
}
.row {
    padding: 15px;
}
#dishTitle {
    margin-left: 28%;
}
span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: bold;
    font-weight: bold;
    color: #007bff;
}
#picture img {
    max-width: 100%;
    max-height: 250px;
}
#description p{
    font-size: 14pt;
}