.post {
    border: inset;
    border-radius: 15px;
    border-color: skyblue;
}

#title h4 {
    margin-left: 20%;
    padding: 1% 15%;
}
#header {
    display: block;
}
#header h4 {
    display: flex;
    margin-left: 20%;
    padding: 1% 15%;
}
span {
    font-family: 'Roboto','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: bold;
    font-weight: bold;
    color:#007bff;
}