{% extends 'dish/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'accounts/user-profile.css' %}">
{% endblock css %}

{% block greeting %}
{% if user.is_authenticated %} {{ user.first_name }}{% else %}{% endif %}
{% endblock greeting %}

{% block favorites %}
{% if user.is_authenticated %}
<a href="{% url 'dish:favorite_dishes' %}" class="nav-link"><i class="fas fa-bookmark"></i>Favorites</a>
{% else %}
{% endif %}
{% endblock favorites %}

{% block profile %}
{% if user.is_authenticated %}
{% if user.id == profiled_user.id %}
{% else %}
<a href="{% url 'accounts:user_profile' profiled_user_id=user.id %}" class="nav-link"><i
        class="fas fa-user-cog"></i>Profile</a>
{% endif %}
{% else %}
<a href="{% url 'accounts:signup' %}" class="nav-link"><i class="fas fa-user-cog"></i>Register</a>
{% endif %}
{% endblock profile %}

{% block login %}
{% if user.is_authenticated %}
<a href="{% url 'logout' %}" class="nav-link"><i class="fas fa-sign-out-alt"></i>Logout</a>
{% else %}
<a href="{% url 'login' %}" class="nav-link"><i class="fas fa-sign-in-alt"></i>Login</a>
{% endif %}
{% endblock login %}



{% block content %}
<div id="main-content">
    <div class="row" id="newPost">
        <div class="col-4">
            <div id="profilePic">
                <h4>Chef {{ profiled_user.first_name }} {{ profiled_user.last_name }}</h4>

                {% if profiled_user.id == user.id %}
                <p class="edit-profile ml-2" title="Edit" style="color:#009EC3">
                    <a href="{% url 'accounts:update_user_profile' profiled_user_id=profiled_user.id %}">
                        <small><i class="fas fa-pen"></i> Edit</small>
                    </a>
                </p>
                {% endif %}

                <img src="{{ profiled_user.profile.profile_pic.url }}" alt="User Profile Picture">
                <!-- Display User Profile Image (if none Display Default Image) -->
            </div>
            <div id="userInfo">
                <!-- Dispaly User Info (Name, Bio, Location, Avg. Rating) -->
                <h4>Bio: <div class="bio">{{ profiled_user.profile.bio }}</div>
                </h4>
                <h4>Location: {{ profiled_user.profile.location }}</h4>
                <h4>Birthday: {{ profiled_user.profile.birthday }}</h4>
                <h4>Average Rating: {{ user_average_rating }}</h4>
            </div>

            <div class="ratings">
                {% for rating in all_ratings %}
                <div class="rating">
                    <div class="dish">
                        <a href="/dish/{{ rating.dish.id }}">
                            <img src="{{ rating.dish.profile_pic.url }}" alt="Picture of category {{ rating.dish.name }}">
                            <p>{{ rating.dish.title }}</p>
                        </a>
                        {% include 'dish/stars.html' with size="small" %}
                        <h6>
                            <a href="{% url 'accounts:user_profile' profiled_user_id=rating.user.id %}">
                                {{ rating.user.first_name }} {{ rating.user.last_name }}
                            </a>
                        </h6>
                        <p>{{ rating.review }}</p>
                        <p>{{ rating.created_at }}</p>
                    </div>

                </div><!-- end .rating -->
                {% endfor %}
            </div><!-- end .ratings -->

        </div>
        <div class="dishes col-8">
            <div id="header">
                <h4>My Dishes</h4>
            </div>
            <div id="dishes">
                <!--Dispaly All User Post-->
                {% for dish in profiled_user.user_dishes.all %}
                <div class="dish" id="{{ dish.name }}" data-id="{{ dish.id }}">
                    <a href="/dish/{{ dish.id }}">
                        <img src="{{ dish.profile_pic.url }}" alt="Picture of category {{ dish.name }}">
                        <h5>{{ dish.title }}</h5>
                        {% if dish.poster.id == user.id %}
                        <p class="edit-dish" title="Edit" style="color:#009EC3">
                            <a href="{% url 'dish:update_dish' dish_id=dish.id %}">
                                <small><i class="fas fa-pen"></i> Edit</small>
                            </a>
                        </p>
                        {% endif %}
                    </a>
                </div>

                {% endfor %}

            </div>
        </div>
</div>    
{% endblock %}