#main-content {
    padding-top: 2%;
}

.dishes {
    width: 250px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.dish {
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #009EC3;
    border-radius: 5px;
    color: #009EC3
}

.dish > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dish img {
    width: 100%;
}

#profilePic img {
    max-width: 100%;
    max-height: 200px;
}
#profilePic {
    border: black 3px solid;
    border-radius: 10px;
}
#userInfo {
    border: black 3px solid;
    border-radius: 10px;
}
#header {
    width: 66%;
    display: flex;
    margin-left: 20%;
    padding: 1% 15%;
}
.dishes {
    border: 3px solid black;
    border-radius: 10px;
}

#profilePic {
    border: black 3px solid;
    border-radius: 10px;
}


.bio {
    white-space: pre-line;
}
